*{
    margin: 0;
    padding: 0;
}


.container{
    background: #ccc;


    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

header{
    background: lightgray;
    width: 100%;
    padding: 20px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 100;
}

#header-img{
    width: 75px;
    vertical-align: top;

}
header .logo {
    font-size: 50px;

}


header .logo a{
    color: red;
    text-decoration: none;
    line-height: 50px;

}

header .nav {
    width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
}

header nav a{
    color:red;
    background: black;
    text-decoration: none;
    text-align: center;
    padding: 20px;

}

header nav a:hover{
    background: grey;
}


.intro{
    text-align: justify;
}

#title-intro{
    text-align: center;
}

table, td, th{
    border: 1px solid black;
    margin: auto;
}
.column-left{
    font-weight: bold;
    background-color: lightgray
}

.c-video{
    position: relative;
    height: 0;
    padding-bottom: 56.26%;
    padding-top: 30px;
}

#video{
    height: 100%;
    position: absolute;
    width: 100%;

}

#specs{
    text-align: center;
}

@media all and (max-width:800px){
    header{
        background-color: burlywood;
    }
}

